body{
    margin: 0;
}
.sizeBtn{
    font-size: 12px;
    padding: 10px;
    background-color: blue;
    color: white;
}
.row{
    display: flex;
    flex: 1;
    justify-content: space-between;
    border: 1px solid black;
}
.column{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}
.row .column{
    width: 30px;
    height: 30px;
}
.row .column:hover{
    background-color: lightgray;
}
